.title-bar {
  margin-bottom: 0;
  h3 {
    color: white;
  }
}

.form {
  margin-top: 0;
  .search {
    i {
      position: relative;
      top: 42px;
      left: -25px;
    }
  }
  .switch {
    position: relative;
    top: 41px;
    margin-bottom: 40px;
    label {
      font-size: 1.1rem;
    }
  }
}

.search-results {
  .result {
    padding: 1rem 1rem 0 1rem;
    .game-link-container {
      a {
        text-decoration: none;
        color: inherit;
        i {
          position: relative;
          right: -90%;
          color: #3C6BFA;
          font-size: 3rem;
          span {
            font-size: 0.8rem;
            position: relative;
            right: 7.5rem;
          }
        }
      }
    }
  }
  p {
    font-size: 1.3rem;
    text-align: center;
    &.result-normal-price {
      text-decoration: line-through;
      color: silver;
      font-size: 1.2rem;
    }
    &.result-sale-price {
      font-weight: bold;
      color: #0CD20C;
      font-size: 1.4rem;
    }
  }
}
