body
  div.container
    div.row(class="title-bar card-panel blue lighten-3")
      h3 Pilot Fish
        
    div.row(class="form card-panel blue lighten-5")
      div.search(class="col s12 m8 l4")
        i(class="material-icons") search
        form.search
          input(class="search-field" type="text" name="text" placeholder="Enter a title to search for prices")
      div(class="filters col s6 m4 l4 offset-s3")
        div.switch
          label
            | off
            input(type="checkbox")
            span.lever
            | Best
        div.switch
          label
            | off
            input(type="checkbox")
            span.lever
            | Sale
        
    div.row(class="search-results grey lighten-4")
      +each(result in scrapeResults)
        +resultEntry(entry=result)
    
