body
  div.container
    div.row(class="card-panel blue lighten-3")
      h3.app-name Pilot Fish
        
    div.row(class="form card-panel blue lighten-5")
      input(class="search-field col s12 m8 l4" type="text" name="text" placeholder="Enter a title to search for prices")
      div(class="filters col s12 m4 l4")
        button(class="best waves-effect waves-green btn-flat") Best
        button(class="sale waves-effect waves-green btn-flat") Sale

    div.row(class="search-results grey lighten-4")
      div.row(class="result")
        p.title(class="col s8 m3 l3 offset-s2")
          | Game Title
        p.price(class="col s8 m3 l3 offset-s2")
          | Price
        p.store(class="col s8 m3 l3 offset-s2")
          | at Store
        img.thumbnail(class="col s8 m3 l3 offset-s2" src="http://cdn.akamai.steamstatic.com/steam/apps/374320/capsule_sm_120.jpg?t=1459425642")
      br
      div.row(class="result")
        p.title(class="col s8 m3 l3 offset-s2")
          | Game Title
        p.price(class="col s8 m3 l3 offset-s2")
          | Price
        p.store(class="col s8 m3 l3 offset-s2")
          | at Store
        img.thumbnail(class="col s8 m3 l3 offset-s2" src="http://cdn.akamai.steamstatic.com/steam/apps/374320/capsule_sm_120.jpg?t=1459425642")
      br
      div.row(class="result")
        p.title(class="col s8 m3 l3 offset-s2")
          | Game Title
        p.price(class="col s8 m3 l3 offset-s2")
          | Price
        p.store(class="col s8 m3 l3 offset-s2")
          | at Store
        img.thumbnail(class="col s8 m3 l3 offset-s2" src="http://cdn.akamai.steamstatic.com/steam/apps/374320/capsule_sm_120.jpg?t=1459425642")

      
      
      
