body
  div.container
    div.row(class="title-bar card-panel blue lighten-3")
      h3 Pilot Fish
        
    div.row(class="form card-panel blue lighten-5")
      div.search(class="col s12 m8 l4")
        i(class="material-icons") search
        input(class="search-field" type="text" name="text" placeholder="Enter a title to search for prices")
      div(class="filters col s6 m4 l4 offset-s3")
        button(class="best waves-effect waves-green btn-flat") Best
        button(class="sale waves-effect waves-green btn-flat") Sale

    div.row(class="search-results grey lighten-4")
      div.row(class="result")
        p.result-title(class="col s8 m3 l3 offset-s2")
          | Game Title
        p.result-price(class="col s8 m3 l3 offset-s2")
          | Price
        p.result-store(class="col s8 m3 l3 offset-s2")
          | at Store
        img.result-thumbnail(class="col s8 m3 l3 offset-s2" src="http://cdn.akamai.steamstatic.com/steam/apps/374320/capsule_sm_120.jpg?t=1459425642")
      div.divider
      
      div.row(class="result")
        p.result-title(class="col s8 m3 l3 offset-s2")
          | Game Title
        p.result-price(class="col s8 m3 l3 offset-s2")
          | Price
        p.result-store(class="col s8 m3 l3 offset-s2")
          | at Store
        img.result-thumbnail(class="col s8 m3 l3 offset-s2" src="http://cdn.akamai.steamstatic.com/steam/apps/374320/capsule_sm_120.jpg?t=1459425642")
      div.divider
      
      div.row(class="result")
        p.result-title(class="col s8 m3 l3 offset-s2")
          | Game Title
        p.result-price(class="col s8 m3 l3 offset-s2")
          | Price
        p.result-store(class="col s8 m3 l3 offset-s2")
          | at Store
        img.result-thumbnail(class="col s8 m3 l3 offset-s2" src="http://cdn.akamai.steamstatic.com/steam/apps/374320/capsule_sm_120.jpg?t=1459425642")

      
      
      
